@mixin font($size, $weight, $line-height) {
  font-size: $size;
  font-weight: $weight;
  line-height: $line-height;
}

@mixin for-size($size) {
  $desktop-smaller-boundary: 1440px;
  $laptop-l-smaller-boundary: 1366px;
  $laptop-smaller-boundary: 1280px;
  $laptop-s-smaller-boundary: 1200px;
  $tablet-smaller-boundary: 1024px;
  $phablet-smaller-boundary: 768px - 2px;
  $mobile-smaller-boundary: 600px - 2px;
  $mobile-m-smaller-boundary: 412px;
  $mobile-s-smaller-boundary: 360px;
  $mobile-xs-smaller-boundary: 320px;

  @if $size == desktop {
    @media (max-width: #{$desktop-smaller-boundary}) { @content; }
  } @else if $size == laptop-l {
    @media (max-width: #{$laptop-l-smaller-boundary}) { @content; }
  } @else if $size == laptop {
    @media (max-width: #{$laptop-smaller-boundary}) { @content; }
  } @else if $size == laptop-s {
    @media (max-width: #{$laptop-s-smaller-boundary}) { @content; }
  } @else if $size == tablet {
    @media (max-width: #{$tablet-smaller-boundary}) { @content; }
  } @else if $size == phablet {
    @media (max-width: #{$phablet-smaller-boundary}) { @content; }
  } @else if $size == mobile {
    @media (max-width: #{$mobile-smaller-boundary}) { @content; }
  } @else if $size == mobile-m {
    @media (max-width: #{$mobile-m-smaller-boundary}) { @content; }
  } @else if $size == mobile-s {
    @media (max-width: #{$mobile-s-smaller-boundary}) { @content; }
  } @else if $size == mobile-xs {
    @media (max-width: #{$mobile-xs-smaller-boundary}) { @content; }
  }
}

@mixin button-reset {
  display: inline-block;
  max-width: 100%;
  margin: 0;
  padding: 0;
  font-family: inherit;
  vertical-align: middle;
  text-align: center;
  color: inherit;
  text-decoration: none;
  background: none;
  border: 0;
  border-radius: 0;
  box-shadow: none;
  cursor: pointer;
  user-select: none;
  appearance: none;
}

@mixin input-reset {
  display: inline-block;
  max-width: 100%;
  margin: 0;
  padding: 0;
  line-height: normal;
  font-family: inherit;
  vertical-align: middle;
  text-align: left;
  color: inherit;
  background: none;
  border: none;
  border: 0;
  border-radius: 0;
  box-shadow: none;
  appearance: none;
  .page &:focus {
    outline: none;
  }
  &::-webkit-search-cancel-button {
    display: none;
  }
  &::-webkit-inner-spin-button {
    display: none;
  }
}

@mixin select-reset {
  display: inline-block;
  width: 100%;
  max-width: 100%;
  margin: 0;
  padding: 0 16px 0 0;
  font-weight: normal;
  line-height: normal;
  font-family: inherit;
  vertical-align: middle;
  color: inherit;
  background-color: transparent;
  background-image: url('../img//svg/select-arrow.svg');
  background-repeat: no-repeat, repeat;
  background-position: right 0 top 50%;
  background-size: 8px 5px;
  border: 0;
  cursor: pointer;
  appearance: none;
  &::-ms-expand {
    display: none;
  }
  option {
    line-height: normal;
  }
}
